<div class="page-header">
  <%= link_to new_consultum_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Consultum
  <% end %>
  <h1>Listing consulta</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Motivo consulta</th>
            <th>Diagnostico</th>
            <th>Tx</th>
            <th>Labs</th>
            <th>Observaciones</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @consulta) do |consultum| %>
            <td><%= consultum.Motivo_Consulta %></td>
            <td><%= consultum.Diagnostico %></td>
            <td><%= consultum.TX %></td>
            <td><%= consultum.Labs %></td>
            <td><%= consultum.Observaciones %></td>
            <td><%= link_to 'Show', consultum %></td>
        <td><%= link_to 'Edit', edit_consultum_path(consultum) %></td>
        <td><%= link_to 'Destroy', consultum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
